@font-face {
	font-family: fuente;
	src: url('../fonts/fuente.ttf');
}

body {
    overflow: hidden;
}

.container {
    display: none;
    position: absolute;
    bottom: 3.7%;
    left: 22vw;
    padding: .3vw;
    transform: translate(-50%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    background-color: rgb(1, 0, 22);
    border-radius: 2px;
}

.text {
    margin-bottom: .1vw;
    font-family: fuente;
    font-size: 0.56vw;
    text-align: center;
    color: white;
    text-shadow: 2px rgb(0, 0, 0);
}